git add .env/
venv/
.env/
.venv/

__pycache__/
*.py[cod]
*$py.class

dados/*.dat
dados/*.txt
dados/*.bin

Thumbs.db
desktop.ini
.DS_Store
*~
.fuse_hidden*
.directory

.env
.streamlit/secrets.toml


.vscode/
.idea/